/*
font-family: 'Anonymous Pro', monospace;
- regular
- italic
font-family: 'Urbanist', sans-serif;
- 100
- 100 italic
- 400
- 900
font-family: 'Bebas Neue', cursive;
*/

@media screen and (max-width: 767px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

body {
  background-color: #181818;
  color: #FAFAFA;
  font-family: 'Urbanist', sans-serif;
}

a {
  color: #54E86D;
  text-decoration: none;
}

a:hover {
  color: #4cd463;
}

.btn-primary {
  background-color: #54E86D;
  color: #181818;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #4cd463 !important;
  color:#181818;
}

.monospace {
  font-family: 'Anonymous Pro', monospace;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.bg-blend {
  background-color: #181818;
}

.bg-main {
  position: absolute;
  width: 100%;
  height: 90vh;
}

.nav-link {
  font-weight: 900;
}

.section {
  z-index: 0;
  min-height: 100vh;
  position: relative;
}

.fullscreen-overlay {
  position: fixed;
  box-sizing: border-box;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #18181890;
}

/* Main section */
#title-overlay {
  box-sizing: border-box;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #18181800 0%,#181818 100%);
}

#bg-img {
  box-sizing: border-box;
  object-fit: cover;
  z-index: -2;
  opacity: 0.4;
}

#spinning-logo {
  aspect-ratio: 1/1;
  height: 55%;
  opacity: 0.6;
  animation: logo-spin 10s infinite linear 2s;
}

#subtitle {
  font-size: 0.8rem;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}

#title-container {
  display: inline-block;
  opacity: 1;
  padding-right: 1rem;
  overflow: hidden;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

#title {
  font-weight: 100;
  font-size: 3.5rem;
  letter-spacing: 0.4rem;
  line-height: 1.2;
}

#title::after {
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 110%;
  border-bottom: 2px solid #54E86D;
  opacity: 1;
  transform: translate3d(-110%, 0, 0);
  animation: slideInUnderline 1.5s ease-out forwards 0.5s;
}

@keyframes slideInUnderline {
  to { transform: translate3d(0, 0, 0); }
}

@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* About section */
#about {
  box-shadow: 0 5px 10px #888;
  clip-path: polygon(0 0, 100% 0, 100% 200%, 0 200%);
  z-index: 1;
}

#about-greeting {
  font-weight: 900;
  font-size: 3.5rem;
}

#about-name {
  color: #54E86D;
  font-size: 2.5rem;
}

#cursor {
  padding-left: 0.1em;
  border-right: 0.05em solid;
  animation: caret 1.2s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#portrait {
  border: solid #FAFAFA 5px;
  object-fit: cover;
  max-width: 90vw;
  min-height: 400px;
  height: 60vh;
  transition: 0.5s ease-out;
}

.hover-portrait {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #54E86D;
}

#suggestion-box {
  position: relative;
  background-color: #FAFAFA;
  width: 300px;
  border-radius: 15px;
  padding: 20px;
  padding-top: 35px;
}

#close-suggestion-box {
  position: absolute;
  top: 10px;
  right: 10px;
}

.about-text {
  font-weight: 300;
  font-size: 1rem;
}

/* Skills section */
#skills {
  background-color: #DEDEDE;
}

#skills-title {
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 1rem;
  margin-bottom: 13vh;
  color: #181818;
}

#skills-text {
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: 5vh;
  color: #181818;
}

.skill-logo {
  height: 20vh;
}

.skill-label {
  font-size: 0.85rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color:#181818;
}

.slider-container {
  height: 25vh;
}

.slider {
  transform: translateX(0%);
  animation: scroll-skills 40s linear infinite;
}

@keyframes scroll-skills {
  to { transform: translateX(-50%); }
}

.slider-fade {
  position: absolute;
  height: 100%;
  width: 15%;
}

#left-fade {
  left: 0;
  background: linear-gradient(to left, #DEDEDE00 0%,#DEDEDE 100%);
}

#right-fade {
  right: 0;
  background: linear-gradient(to right, #DEDEDE00 0%,#DEDEDE 100%);
}

#resume-btn {
  margin-top: 13vh;
  border-radius: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  border: solid #4cd463 3px;
  background-color: transparent;
  color: #4cd463;
  transition: 0.25s ease-in;
}

#resume-btn:hover {
  background-color: #4cd463!important;
  color: #fafafa !important;
  font-size: 1.6rem;
  border-radius: 1.6rem;
  transform: translateY(-0.05rem);
}

#resume-btn:active {
  transition: 0.1s;
  border-color: #54E86D;
  background-color: #54E86D !important;
}

/* Projects section */
#underscore {
  position: relative;
  top: -0.5rem;
  padding-left: 1.75rem;
  border-bottom: 0.1em solid;
  animation: caret 1.2s steps(1) infinite;
}

#projects-title {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 1rem;
}

#projects-wrapper div {
  flex-basis: 100%;
}

.project-icon {
  border-radius: 15px;
}

.project-card-wrapper {
  border-radius: 25px;
  transition: 0.25s ease-out;
}

.project-card {
  padding: 0 10px;
  padding-top: 2.5rem;
  border-radius: 25px;
  transition: 0.25s ease-out;
}

.project-card-enabled {
  border: solid 5px #DEDEDE;
}

.project-card-disabled {
  border: solid 5px #404040;
}

.project-card-title {
  font-size: 1.25rem;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 5px;
  margin: 0;
  transition: 0.25s ease-out;
}

.project-card-title-enabled {
  color: #181818;
  background-color: #DEDEDE;
}

.project-card-title-disabled {
  color: #888;
  background-color: #404040;
}

.project-card-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project-card-wrapper:hover .project-card-enabled {
  border-color: #4cd463;
  background-color: #404040;
}

.project-card-wrapper:hover .project-card-title-enabled {
  background-color: #4cd463;
}

.project-card-text {
  font-size: 1rem;
}

.project-card-disabled .project-card-text {
  color: #888;
}

.wip-label {
  font-family: 'Bebas Neue', cursive;
  color: #181818;
  font-size: 0.8rem;
  letter-spacing: 0.4rem;
  background-color: #ffd000;
  position: absolute;
  width: 150px;
  transform: rotate(-30deg);
}

.wip-label-top {
  top: 0.5rem;
  left: -2rem;
}

.wip-label-bottom {
  bottom: 0.5rem;
  right: -2rem;
}

/* Footer */
#footer {
  bottom: 0;
  background-color: #2d2d2d;
  width: 100%;
}

#footer-text {
  font-size: 0.8rem;
  margin: 0;
  color: #FAFAFA;
}